/sv.edu.uesocc.casosacad.data.library/target/
/sv.edu.uesocc.casosacad.project/docker.goal/
/sv.edu.uesocc.casosacad.project/sv.edu.uesocc.casosacad.project-ear/nb-configuration.xml
/sv.edu.uesocc.casosacad.project/sv.edu.uesocc.casosacad.project-ejb/nb-configuration.xml
/sv.edu.uesocc.casosacad.project/sv.edu.uesocc.casosacad.project-ejb/target/
/sv.edu.uesocc.casosacad.project/sv.edu.uesocc.casosacad.project-web/nb-configuration.xml
/sv.edu.uesocc.casosacad.project/sv.edu.uesocc.casosacad.project-web/target/
