/.git/
/sv.edu.uesocc.casosacad.project/docker.goal/target/
/sv.edu.uesocc.casosacad.project/docker.goal/docker/payara/target/
/sv.edu.uesocc.casosacad.project/sv.edu.uesocc.casosacad.project-ejb/target/
/sv.edu.uesocc.casosacad.project/sv.edu.uesocc.casosacad.project-web/target/
